<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Notify.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <Notify.Properties.Settings>
      <setting name="filePath" serializeAs="String">
        <value />
      </setting>
      <setting name="selectedIndexToken" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="selectedIndexPriority" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="priorityEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="tokenEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="transactionCounter" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fileURL" serializeAs="String">
        <value />
      </setting>
      <setting name="defaultTitle" serializeAs="String">
        <value>TestNotification</value>
      </setting>
      <setting name="defaultBody" serializeAs="String">
        <value>This is your notification-body</value>
      </setting>
      <setting name="defaultToken" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="defaultPriority" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="logFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="lastInputCorrect" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="lastInputString" serializeAs="String">
        <value />
      </setting>
      <setting name="defaultHTML" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="defaultVariables" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SettingUseLocalFile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="localFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="SettingAdvancedPing" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="userToken" serializeAs="String">
        <value />
      </setting>
      <setting name="defaultTokenOnStart" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="loginName" serializeAs="String">
        <value />
      </setting>
      <setting name="loginPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="userSecret" serializeAs="String">
        <value />
      </setting>
      <setting name="loginDate" serializeAs="String">
        <value />
      </setting>
      <setting name="userIsLoggedIn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SettingUseJSON" serializeAs="String">
        <value>True</value>
      </setting>
    </Notify.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>